<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/css/bearbeitechat.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-lg-10 main-content">
				<div class="row">
					<div class="col-lg-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-lg-11 main">
						<hr>
						<h4>Chat bearbeiten</h4>
						<div class="row">
							<div class="col-6">
								<form action="#" th:action="@{/chat/}+${chatId}+'/bearbeiten'" th:object="${zuBearbeitendeChat}" method="post" >
									<label for="chatname">Chatname:</label>
									<div id="chatname" class="form-group">
										<input class="form-control" type="text" th:field="*{chatName}">
									</div>
									<div class="form-group">
										<label for="userauswahl">Shift/Strg halten um mehrere User zu markieren</label>
										<select multiple class="form-control" th:field="*{user}" >
											<option th:each="user, stat : ${alleUser}"
													th:name="|user[${stat.index}]|"
													th:value="${user.username}"
													th:text="${user.username}">
											</option>
										</select>
									</div>
									<button type="submit" name="submit" value="value" class="btn btn-lg btn-primary">Chat bearbeiten</button>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<form action="#" th:action="@{/chat/}+${chatId}+'/loeschen'" th:object="${zuBearbeitendeChat}" method="post" >
									<button type="submit" name="submit" value="value" class="btn btn-lg btn-danger">Chat l&ouml;schen</button>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts" />
</body>
</html>