<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/css/statistik.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-10 main-content">
				<div class="row">
					<div class="col-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-11 main">
						<hr>
						<h4>Statistik</h4>
						<div class="alert alert-success" th:if="${successMessage}">
			  				<strong><p th:utext="${successMessage}"></p></strong>
						</div>
						<div class="alert alert-danger" th:if="${errorMessage}">
				  			<strong><p th:utext="${errorMessage}"></p></strong>
						</div>
						<div class="col-12 col-statistik-suche">
							<form method="POST" th:action="@{/statistik/}+${seite}" th:object="${statistikFormular}">
								<div class="row align-items-center h-100 justify-content-md-center">
									<label>Position:</label>
									<div class="col-md-auto">
										<select class="custom-select" data-width="auto" data-style="btn-light" th:field="*{position}">
											<option th:value="${null}"  th:text="Alle"></option>
											<option
												  th:each="positionenTyp : ${positionenTypen}" 
												  th:text="${positionenTyp.positionsName}"
												  th:value="${positionenTyp}">
											</option>
										</select>
									</div>
									<label>Land:</label>
									<div class="col-md-auto">
										<select class="custom-select" data-width="auto" data-style="btn-light" th:field="*{landNameTyp}">
											<option th:value="${null}" th:text="Alle"></option>
											<option
												  th:each="laenderNameTyp : ${laenderNamenTypen}" 
												  th:text="${laenderNameTyp.name}"
												  th:value="${laenderNameTyp}">
											</option>
										</select>
									</div>
									<label>Alter:</label>
									<div class="col-md-auto">
										<select class="custom-select" data-width="auto" data-style="btn-light" th:field="*{alter}">
											<option th:value="-1" th:text="Alle"></option>
											<option
												  th:each="alter : ${alterListe}" 
												  th:text="${alter}"
												  th:value="${alter}">
											</option>
										</select>
									</div>
									<div class="col-md-auto">
										<select class="custom-select" data-width="auto" data-style="btn-light" th:field="*{sortierTyp}">
											<option
												  th:each="sortierTyp : ${sortierTypen}" 
												  th:text="${sortierTyp.bezeichnung}"
												  th:value="${sortierTyp}">
											</option>
										</select>
									</div>
									<div class="col-md-auto">
										<button type="submit"
											name="submit" value="value"
											class="btn btn-sm btn-success button-toggle" th:text="Submit" >
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-12">
							<table class="table table-hover table-bordered">
								<thead>
									<tr class="table-active">
										<th scope="col">#</th>
										<th scope="col">Nationalit&auml;t</th>
										<th scope="col">Position</th>
										<th scope="col">Team</th>
										<th scope="col">Alter</th>
										<th scope="col">Name</th>
										<th scope="col">Reinst&auml;rke</th>
										<th scope="col">Erfahrung</th>
										<th scope="col">Tore</th>
										<th scope="col">Gelbe Karten</th>
										<th scope="col">Gelberote Karten</th>
										<th scope="col">Rote Karten</th>
									</tr>
								</thead>
								<tbody th:each="spieler, stat : ${alleSpielerNachSuche}">
									<tr>
										<td th:text="(${stat.index} + 1) + (${seite-1} *15)" />
										<td th:if="${spieler.nationalitaet}"><img th:src="@{${spieler.nationalitaet.landNameTyp.bild}}" /></td>
										<td th:unless="${spieler.nationalitaet}"></td>
										<td th:text="${spieler.position}" />
										<td th:if="${spieler.team}">
											<a class="" th:text="${spieler.team.name}" th:href="@{/team/}+${spieler.team.id}"></a>
										</td>
										<td th:unless="${spieler.team}">
											<a class="" th:text="Systemspieler"></a>
										</td>
										<td th:text="${spieler.alter}" />
										<td> 
											<a th:text="${spieler.name}" th:id="${spieler.id}" onClick="openWindowInNewWindow(this.id)"
												href="#"></a>
										</td>

										<td th:text="${zahlenFormat.format(spieler.spielerReinStaerke.reinStaerke)}" />
										<td th:text="${spieler.erfahrung}" />
										<td th:text="${spieler.tore}" />
										<td th:text="${spieler.gelbeKarten}" />
										<td th:text="${spieler.gelbRoteKarten}" />
										<td th:text="${spieler.roteKarten}" />		
									</tr>
						       	</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-3" th:unless="${seite} < 2">
								<form action="#" th:action="@{/statistik/} + ${seite-1}" method="get">
									<button type="submit" class="btn btn-sm btn-link wechsel-btn">
										&lt;&lt; Vorherige
									</button>
								</form>
							</div>
							<div class="col-lg-3"></div>
							<div class="col-md-auto">
								<span th:text="${seite}+ '. Seite'"></span>
							</div>
							<div class="col col-lg-3"></div>
							<div class="col text-right">
								<form action="#" th:action="@{/statistik/} + ${seite+1}" method="get">
									<button type="submit" class="btn btn-sm btn-link wechsel-btn">
										N&auml;chste &gt;&gt;
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/header :: scripts" />
	<th:block>
		<script>
			function openWindowInNewWindow(id) {
				var spielerId = id
				window.open('/spieler/' + spielerId,'spieler','resizable,height=700,width=700'); 
				return false;
			}
		</script>
	</th:block>
</body>
</html>