<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/css/teamliste.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-10 main-content">
				<div class="row">
					<div class="col-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-11 main">
						<hr>
						<h4>Teams umbenennen</h4>
						<div class="alert alert-success" th:if="${successMessage}">
			  				<strong><p th:utext="${successMessage}"></p></strong>
						</div>
						<div class="alert alert-danger" th:if="${errorMessage}">
				  			<strong><p th:utext="${errorMessage}"></p></strong>
						</div>
						<div class="col-12">
							<form th:action="@{/teams/umbenennen}" th:object="${teamWrapper}"
								method="post">
								<table class="table table-hover table-bordered">
									<thead>
										<tr class="table-active">
											<th scope="col">#</th>
											<th scope="col">Land</th>
											<th scope="col">Name</th>
											<th scope="col">Liga</th>
											<th scope="col">Stärke</th>
											<th scope="col">Geld</th>
										</tr>
									</thead>
									<tr class=""  th:each="team, stat : ${alleTeamsDesAktuellenUsers}">
										<td></td>
										<td><img th:src="@{${team.land.landNameTyp.bild}}"></td>
										<td> 
											<input type="hidden" readonly="readonly"
							    				th:name="|teamList[${stat.index}]|"
				                				th:value="${team.id}"
							    				th:field="*{teamList[__${stat.index}__].id}"
							    				class="form-control" />
											<div class="form-group">
							    				<input type="text"
							    				th:name="|teamList[${stat.index}]|"
				                				th:value="${team.name}"
							    				th:field="*{teamList[__${stat.index}__].name}"
							    				class="form-control form-control-sm" />
											</div>
										</td>
										<td th:text="${team.liga.ligaNameTyp.getName()}" />
										<td th:text="${team.staerke}"></td>
										<td th:text="${team.bilanz.saldo}"></td>
									</tr>
								</table>
								<button type="submit" value="submit" class="btn btn-sm btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts" />
</body>
</html>