<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/css/turnier.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-lg-10 main-content">
				<div class="row">
					<div class="col-lg-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-lg-11 main">
						<hr>
						<h4>Turnier-Liste</h4>
						<div class="row">
							<div class="col-5 neues-turnier-button">
								<form method="GET" th:action="@{/turnier/erstellen}">
									<button type="submit" name="submit" value="value"
										class="btn btn-success button-toggle">
										<span aria-hidden="true">Neues Turnier</span>
									</button>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<table class="table table-hover table-bordered">
									<thead>
										<tr class="table-active">
											<th scope="col">Spieltag</th>
											<th scope="col">Name</th>
											<th scope="col">Beschreibung</th>
											<th scope="col">Ersteller</th>
											<th scope="col">Teilnehmer</th>
											<th scope="col">Pr&auml;mie</th>
											<th scope="col">Turnierstatus</th>
										</tr>
									</thead>
									<tr th:each="turnier : ${alleTurniere}">
										<td th:text="${turnier.spieltag.spieltagNummer}"></td>
										<td><a th:text="${turnier.name}" th:href="@{/turnier/}+${turnier.id}"></a></td>
										<td th:text="${turnier.beschreibung}"></td>
										<td th:text="${turnier.user.username}"></td>
										<td th:text="${turnier.teams.size()}"></td>
										<td th:text="${turnier.praemien}"></td>
										<td th:if="${turnier.geschlossen}">geschlossen</td>
										<td th:unless="${turnier.geschlossen}">offen</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3" th:unless="${seite} < 2">
								<form action="#" th:action="@{/turniere/} + ${seite-1}" method="get">
									<button type="submit" class="btn btn-sm btn-link wechsel-btn">
										&lt;&lt; Vorherige
									</button>
								</form>
							</div>
							<div class="col-lg-3"></div>
							<div class="col-md-auto">
								<span th:text="${seite}+ '. Seite'"></span>
							</div>
							<div class="col col-lg-3"></div>
							<div class="col text-right">
								<form action="#" th:action="@{/turniere/} + ${seite+1}" method="get">
									<button type="submit" class="btn btn-sm btn-link wechsel-btn">
										N&auml;chste &gt;&gt;
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts" />
</body>
</html>