<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<link rel="stylesheet" href="/css/trainingslager.css" />
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2" th:insert="fragments/sidebar :: sidebar"></div>
			<div class="col-10 main-content">
				<div class="row">
					<div class="col-11">
						<div class="row" >
							<div class="col-5"></div>
							<div class="col-3" th:insert="fragments/aktuelleteamanzeige :: aktuelleteamanzeige"></div>
						</div>
					</div>
					<div class="col-11 main">
						<hr>
						<h4 th:text="${aktuellesTeam.name}"></h4>
						<div class="alert alert-success" th:if="${successMessage}">
			  				<strong><p th:utext="${successMessage}"></p></strong>
						</div>
						<div class="alert alert-danger" th:if="${errorMessage}">
				  			<strong><p th:utext="${errorMessage}"></p></strong>
						</div>
						<div class="col-12">
							<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/trainingslager'" th:object="${trainingslagerWrapperNichtImTrainingslager}"
											method="post">
								<div class="row">
									<div class="col">
										<h6>Trainingslager buchen:</h6>
										<table class="table table-hover table-bordered">
											<thead>
												<tr class="table-active">
													<th scope="col">#</th>
													<th scope="col">Nationalit&auml;t</th>
													<th scope="col">Position</th>
													<th scope="col">Name</th>
													<th scope="col">Alter</th>
													<th scope="col">Reinst&auml;rke</th>
													<th scope="col">TL-Tage</th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody th:each="s, stat : ${trainingslagerWrapperNichtImTrainingslager.spieler}">
												<tr>
													<td th:text="${stat.index} + 1" />
													<td th:text="${s.nationalitaet.getLandNameTyp().getName()}" />
													<td th:text="${s.position}" />
													<td> 
														<a th:text="${s.name}" th:id="${s.id}" onClick="openWindowInNewWindow(this.id)"
															href="#"></a>
													</td>
													<td th:text="${s.alter}" />
													<td th:text="${zahlenFormat.format(s.spielerReinStaerke.reinStaerke)}" />
													<td th:text="${s.uebrigeTrainingslagerTage}" />
													<td th:if="${s.uebrigeTrainingslagerTage} > 0">
														<div class="col-7">
															<select class="custom-select" th:field="*{spieler[__${stat.index}__].trainingslagerTage}"
																id="ausgewaehlteTrainingslagerTage" onChange="berechneKosten()">
																<option
																	  th:each="i : ${#numbers.sequence(0, s.uebrigeTrainingslagerTage)}"
																	  
																	  th:value="${i}"
																	  th:text="${i}+' Tage'">
																</option>
															</select>
															<input type="hidden"
															th:name="|spieler[${stat.index}]|"
															th:value="${s.id}" 
															th:field="*{spieler[__${stat.index}__].id}">
														</div>
													</td>
												</tr>
									       	</tbody>
										</table>
									</div>
								</div>
								<div class="row trainingslager-auswahl">
									<div class="col-8 text-right">
										<span>Trainingslager:</span>
									</div>
									<div class="col-3">
										<select class="custom-select" id="ausgewaehltesTrainingslager" th:field="*{trainingslager}">
											<option
												  th:each="trainingslagerTyp : ${alleTrainingslagerTypen}" 
												  th:text="${trainingslagerTyp.bezeichnung}+' | '+${trainingslagerTyp.internatFaktor}+'-faches Training'"
												  th:value="${trainingslagerTyp}">
											</option>
										</select>
									</div>
									<div class="col-1 buchen-button">
										<button type="submit" class="btn btn-primary">
											Buchen
										</button>
									</div>
								</div>
							</form>
						</div>
						<h6>Im Trainingslager:</h6>
						<div class="col-12">
							<table class="table table-hover table-bordered">
								<thead>
									<tr class="table-active">
										<th scope="col">#</th>
										<th scope="col">Nationalit&auml;t</th>
										<th scope="col">Position</th>
										<th scope="col">Name</th>
										<th scope="col">Alter</th>
										<th scope="col">Reinst&auml;rke</th>
										<th scope="col">TL-Tage</th>
										<th scope="col">Gebucht</th>
										<th scope="col"></th>									
									</tr>
								</thead>
								<tbody th:each="s, stat : ${trainingslagerWrapperImTrainingslager.spieler}">
									<tr class="" th:classappend="${s.aufstellungsPositionsTyp == aufstellungsPositionsTypTrainingslager ? 'table-danger' : ''}">
										<td th:text="${stat.index} + 1" />
										<td th:text="${s.nationalitaet.getLandNameTyp().getName()}" />
										<td th:text="${s.position}" />
										<td> 
											<a th:text="${s.name}" th:id="${s.id}" onClick="openWindowInNewWindow(this.id)"
												href="#"></a>
										</td>
										<td th:text="${s.alter}" />
										<td th:text="${zahlenFormat.format(s.spielerReinStaerke.reinStaerke)}" />
										<td th:text="${s.uebrigeTrainingslagerTage}" />
										<td th:unless="${s.trainingslagerTage} > 0">-</td>
										<td th:if="${s.trainingslagerTage} > 0" th:text="${s.trainingslagerTage}+' Tage im '+${s.trainingslager.bezeichnung}"></td>
										<td>
											<form action="#" th:action="@{/team/}+${aktuellesTeam.id}+'/trainingslager/abbrechen'" 
											th:object="${spielerAusTrainingslagerHolen}"
												method="post">
												<input type="hidden" th:value="${s.id}" id="id" name="id">
												<button type="submit" class="btn btn-sm btn-link">
													abbrechen
												</button>
											</form>
										</td>
									</tr>
						       	</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/header :: scripts" />
	<th:block>
		<script src="/js/spielerlink.js"></script>
	</th:block>
</body>
</html>