<!DOCTYPE html>
<html>
<head th:insert="fragments/header :: head"></head>
<head>
	<meta http-equiv="refresh" content="10">
	<link rel="stylesheet" href="/css/liveticker.css" />
</head>
	<body>
		<div class="container">
			<h4>Liveticker</h4>
			<div class="col-12">
				<div th:if="${torversuch}">
					<div type="hidden">
						<audio controls autoplay>
						  	<source src="torjubel.mp3" type="audio/mpeg">
						</audio> 
					</div>
					<p th:text="${torversuch.spiel.heimmannschaft.name}"></p> - 
					<p th:text="${torversuch.spiel.gastmannschaft.name}"></p>
					<form method="POST" th:action="@{/liveticker}" th:object="${torversuch}">
						<label>Richtung:</label>
						<select class="selectpicker" data-width="auto" data-style="btn-light" th:field="*{richtungVomUser}">
							<option
								  th:each="torversuchTyp : ${torversuchTypen}" 
								  th:text="${torversuchTyp.bezeichnung}"
								  th:value="${torversuchTyp}">
							</option>
						</select>
						<input type="hidden" th:field="*{id}">
						<button type="submit"
							name="submit" value="value"
							class="btn btn-sm btn-success button-toggle" th:text="Submit" >
						</button>
					</form>
				</div>
				<div th:each="livetickerEintrag : ${livetickerEintraege}">
					<table class="table table-hover" >
						<thead>
							<tr class="table-active">
								<th scope="col">Spieltag</th>
								<th scope="col">Spielbeginn</th>
								<th scope="col">Heimmannschaft</th>
								<th scope="col">Ergebnis</th>
								<th scope="col">Gastmannschaft</th>
							</tr>
						</thead>
						<tr class="">
							<td th:text="${livetickerEintrag.spielEintrag.spieltag}" />
							<td th:text="${livetickerEintrag.spielEintrag.spielbeginnToString()}" />
							<td>
								<a th:text="${livetickerEintrag.spielEintrag.heimmannschaftUndStaerkeToString()}" 
								th:href="@{/team/}+${livetickerEintrag.spielEintrag.heimmannschaft.id}"></a>
							</td>
							<td class="ergebnisInTabelle">
								<span th:text="${livetickerEintrag.spielEintrag.spielErgebnisToString()}"></span><br>
								<span th:text="${livetickerEintrag.spielEintrag.spielErgebnisHalbzeitToString()}"></span>
							</td>
							<td>
								<a th:text="${livetickerEintrag.spielEintrag.gastmannschaftUndStaerkeToString()}" 
								th:href="@{/team/}+${livetickerEintrag.spielEintrag.gastmannschaft.id}"></a>
							</td>
						</tr>
					</table>
					<div class="container" th:each="spielEreignisEintrag : ${livetickerEintrag.spielEreignisEintraege}">
							<span th:text="${spielEreignisEintrag.spielEreignisEintragToString()}"></span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>