.card-header {
	font-size: 0.9rem;
}

.card-header:hover {
	cursor: pointer;
	background-color: white !important;
}

.fa-trash-alt {
	font-size: 1.5rem;
}

.fa-trash-alt:hover {
	color: #dc3545;
}

.pagination {
	margin: 0px;
}